<!DOCTYPE html>
<html ng-app="App" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Starter</title>
</head>
<body>
<div class="form-group blu-margin">
  <form action="#" th:action="@{start-server}" th:object="${serverInfo}" method="post">
    <label for="serverInfo">Jar</label>
    <select id="serverInfo" th:field="*{jarDir}">
      <option value="0">select jar</option>
      <option th:each="uploadedServer : ${uploadedServers}"
              th:value="${uploadedServer.jarDir}"
              th:text="${uploadedServer.jarDir}">
      </option>
    </select>
    <input name="submit" type="submit" value="submit"/>
  </form>
</div>
</body>
</html>