<!--<DOCTYPE html>-->
<html ng-app="App">
<head>
  <title>Server Manager</title>
</head>
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/servers/css/style.css">
<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-dark bg-primary navbar-fixed-top">
  <div class="container">
    <ul class="list-inline">
      <li class="list-inline-item main">
        <a href="/servers">Main</a>
      </li>
      <li class="list-inline-item">
        <a href="/servers/upload"><span class="fa fa-upload" aria-hidden="true"></span>Upload
          a zip file</a>
      </li>
      <li class="list-inline-item">
        <a href="/servers/get-all-servers">
          <span class="fa fa-bars" aria-hidden="true"></span>
          List of all servers
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="text" style="width: 60%">
  <p>
    <span style="font-size: 19px; width: 60%">Welcome to the Server Manager!</span><br><br>
    Here you can upload a zip file of your server, run it, see all running servers with the
    information about them and, finally, stop the servers.
  </p>
</div>

</body>

</html>